<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical" DockWidth="3.23632576070144*">
      <LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.501002913064605*">
          <LayoutAnchorablePane DockHeight="1.15916937168188*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="186" FloatingTop="208">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" IsSelected="True" ContentId="ImagingVM" FloatingLeft="186" FloatingTop="208" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/26/2025 23:42:41" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane DockHeight="0.928508654415919*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="199" FloatingTop="273">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" IsSelected="True" ContentId="FlatDeviceVM" FloatingLeft="199" FloatingTop="273" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 07:50:06" PreviousContainerId="1669bfaa-8489-450a-8e9c-e5e992f06338" PreviousContainerIndex="0" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane Id="1669bfaa-8489-450a-8e9c-e5e992f06338" DockHeight="0.750757085004449*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="203" FloatingTop="328">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="203" FloatingTop="328" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/22/2025 18:58:00" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane DockHeight="0.37578852369143*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" IsSelected="True" ContentId="FilterWheelVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:25" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane Id="a61631ba-f99e-40b3-b535-7c4317cd788d" DockHeight="1.12208790736055*" FloatingWidth="1370" FloatingHeight="542" FloatingLeft="105" FloatingTop="802">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" ContentId="ImageHistoryVM" FloatingLeft="105" FloatingTop="802" FloatingWidth="1370" FloatingHeight="542" CanClose="True" LastActivationTimeStamp="09/23/2025 20:07:18" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="105" FloatingTop="802" FloatingWidth="1370" FloatingHeight="542" CanClose="True" LastActivationTimeStamp="09/27/2025 16:35:00" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.16138418453585*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
            <LayoutAnchorablePane Id="62e81261-8f55-45aa-80b0-79abe5c0f0da" DockHeight="0.862164383349008*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555" />
            <LayoutAnchorablePane Id="a10387fd-4273-4098-a78d-2e7793f00ef8" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="210" FloatingTop="953" />
            <LayoutAnchorablePane Id="343f6812-121d-49cd-a944-e181de6ed1de" DockHeight="1.137835616651*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-155" FloatingTop="804" />
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.23204767229552*">
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.20655737704918*" DockHeight="1.54677754677755*">
            <LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.4541183068977*" DockHeight="1.54677754677755*">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" CanClose="True" LastActivationTimeStamp="09/27/2025 18:12:06" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PixInsight Live Stacking" ContentId="LiveStackVM" FloatingLeft="518" FloatingTop="1112" FloatingWidth="656" FloatingHeight="616" CanClose="True" LastActivationTimeStamp="09/27/2025 07:52:13" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Altitude Chart" ContentId="AltitudeDock" CanClose="True" LastActivationTimeStamp="09/23/2025 20:12:37" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Aberration Inspector" ContentId="InspectorVM" CanClose="True" LastActivationTimeStamp="09/23/2025 20:12:18" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Three Point Polar Alignment" ContentId="DockablePolarAlignmentVM" FloatingLeft="890.6666666666666" FloatingTop="1343.3333333333333" FloatingWidth="1649.3333333333333" FloatingHeight="1323.3333333333333" CanClose="True" LastActivationTimeStamp="09/22/2025 19:32:42" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="4" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Target Scheduler" ContentId="ImagingDockableVM" CanClose="True" LastActivationTimeStamp="09/23/2025 20:37:23" />
            </LayoutAnchorablePane>
            <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.752439070151485*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
              <LayoutAnchorablePane Id="baf4c6fc-399e-4899-963d-7571de52dc90" DockHeight="1.17629794555207*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="719" FloatingTop="382" />
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.453222453222453*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
            <LayoutAnchorablePane Id="62d7ed6c-26a6-4231-b955-455c692543d7" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558" />
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="0.686621545787419*">
          <LayoutAnchorablePane Id="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311" />
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.751994500593643*" DockHeight="1.54677754677755*">
      <LayoutAnchorablePane Id="9fc5ce13-f21a-4da4-a294-7f5a58ca9e73" DockWidth="0.751994500593643*" DockHeight="1.85468223612554*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="2163" FloatingTop="750">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="1857" FloatingTop="1120" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 16:48:24" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane DockWidth="0.751994500593643*" DockHeight="1.3726729745177118*" FloatingWidth="1370" FloatingHeight="689.3333333333333" FloatingLeft="1341.3333333333333" FloatingTop="374">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Scope Control" ContentId="ScopeControlDock" FloatingLeft="1341.3333333333333" FloatingTop="374" FloatingWidth="1370" FloatingHeight="689.3333333333333" CanClose="True" LastActivationTimeStamp="09/23/2025 23:14:58" PreviousContainerId="1033b64d-aad9-4800-8bc6-f991d2395e88" PreviousContainerIndex="0" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" IsSelected="True" ContentId="AutoFocusVM" FloatingLeft="2292" FloatingTop="1082" FloatingWidth="1370" FloatingHeight="689.3333333333333" CanClose="True" LastActivationTimeStamp="09/26/2025 23:00:11" PreviousContainerId="1033b64d-aad9-4800-8bc6-f991d2395e88" PreviousContainerIndex="1" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" ContentId="FocusTargetsVM" FloatingLeft="2326.6666666666665" FloatingTop="1088.6666666666665" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="09/23/2025 20:08:34" PreviousContainerId="1033b64d-aad9-4800-8bc6-f991d2395e88" PreviousContainerIndex="1" />
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" ContentId="PlatesolveVM" FloatingLeft="2160" FloatingTop="749.3333333333333" FloatingWidth="1370" FloatingHeight="689.3333333333333" CanClose="True" LastActivationTimeStamp="09/23/2025 23:15:02" PreviousContainerId="1033b64d-aad9-4800-8bc6-f991d2395e88" PreviousContainerIndex="3" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.8661998829118494*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1832" FloatingTop="634">
        <LayoutAnchorablePane Id="1033b64d-aad9-4800-8bc6-f991d2395e88" DockWidth="0.751994500593643*" DockHeight="1.54677754677755*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1832" FloatingTop="634">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Mount" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="1290" FloatingTop="646" FloatingWidth="1370" FloatingHeight="689.3333333333333" CanClose="True" LastActivationTimeStamp="09/26/2025 15:04:10" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" IsSelected="True" ContentId="SafetyMonitorVM" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" FloatingLeft="-154" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="62e81261-8f55-45aa-80b0-79abe5c0f0da" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" FloatingLeft="419" FloatingTop="1030" FloatingWidth="772" FloatingHeight="652" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="343f6812-121d-49cd-a944-e181de6ed1de" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="175" FloatingTop="558" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="62d7ed6c-26a6-4231-b955-455c692543d7" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Orbitals" IsSelected="True" ContentId="OrbitalsVM" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="3" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Results" IsSelected="True" ContentId="StarDetectionResultsVM" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" IsSelected="True" ContentId="ImageStatisticsVM" FloatingLeft="719" FloatingTop="382" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="baf4c6fc-399e-4899-963d-7571de52dc90" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Options" IsSelected="True" ContentId="StarDetectionOptionsVM" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Annotation Options" IsSelected="True" ContentId="StarAnnotatorOptionsVM" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Azimuth Chart" IsSelected="True" ContentId="AzimuthDock" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="210" FloatingTop="953" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="a10387fd-4273-4098-a78d-2e7793f00ef8" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="RTSP Player" IsSelected="True" ContentId="RTSPVM" FloatingLeft="1706" FloatingTop="898" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="0b5e66a1-66db-4ec5-9dc5-9144fa9d3e7b" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" IsSelected="True" ContentId="RotatorVM" FloatingLeft="203" FloatingTop="328" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="1669bfaa-8489-450a-8e9c-e5e992f06338" PreviousContainerIndex="2" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" IsSelected="True" ContentId="FocuserVM" FloatingLeft="203" FloatingTop="328" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="1669bfaa-8489-450a-8e9c-e5e992f06338" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Powerups Panel" IsSelected="True" ContentId="WhenPluginDockable" CanClose="True" LastActivationTimeStamp="09/27/2025 18:51:04" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="4" />
  </Hidden>
</LayoutRoot>